/* formCss.css */
.ticketForm,
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 12px 47px 0 #00000029;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  max-width: 600px;
  margin: 40px auto;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 40px 50px;
  min-width: 250px;
  min-height: 300px;
  position: absolute;
  margin: auto;
}

.loginForm {
  max-width: 410px;
  min-width: 300px;
  padding-bottom: 25px;
}

.ticketForm img {
  height: 120px;
  margin-top: 20px;
}

.ticketForm h1,
.loginForm h1 {
  font-size: 1.3em;
  margin-top: 25px !important;
  font-weight: 500;
}

.loginForm h1 {
  font-weight: 400;
}

.ticketForm h2,
.loginForm h2 {
  font-weight: 400;
  width: 50%;
  font-size: 1em;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  text-align: center;
  line-height: 1.3em;
}

.loginForm h2 {
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 0 !important;
}

.loginForm h3 {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin-top: -15px !important;
}

.loginBtn {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  background: #7f0019;
  color: #fff;
  padding: 5px 15px 5px 5px;
  border-radius: 50px;
  margin-top: 50px;
  font-size: 1.1em;
}

.loginBtn span {
  margin-left: 10px;
}

.ticketForm h3 {
  text-align: center;
}

.longInput {
  position: relative;
  height: fit-content;
  margin-top: -15px !important;
}

.longInput + p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.longInput label {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 27px;
  height: fit-content;
  font-weight: 300;
  font-size: 1.1em;
  background: #fff;
  padding: 0;
  color: #65676e;
  transition: 0.3s cubic-bezier(0.45, -0.15, 0.12, 1);
}

.ticketForm input,
.longInput button {
  border: 1.8px solid #c9cace;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  color: #000;
  padding: 0 27px;
  font-size: medium;
  font-weight: 300;
  margin: 0 !important;
}

.longInput button {
  color: #65676e;
}

.ticketForm input:focus-visible,
.longInput button:focus-visible {
  outline: none;
  border-color: #635dff;
  --tw-ring-offset-width: 0;
}

.longInput.has-value label,
.longInput:focus-within label {
  top: -50px;
  left: 14px;
  padding: 0 10px;
  font-size: 0.9em;
}

.ticketButton {
  width: 250px;
  background: #7f0019;
  border-radius: 50px;
  height: 50px;
  font-size: medium;
}

.ticketButton:hover {
  background: #635dff;
}

.loader {
  position: absolute;
  border: 3px solid #7f0019;
  height: 200px;
  aspect-ratio: 1;
  top: -30%;
  left: -59%;
  margin: auto;
  border-radius: 50%;
  border-right-width: 0;
  border-top-width: 0;
  animation: spin 1s linear infinite;
}

.loginForm .loader {
  top: -30%;
}

.followBackground {
  color: #82848a;
  font-size: x-small;
  font-weight: 300;
  width: 300px;
  text-align: center;
  border-top: 1px solid #d4d4d4;
  margin-top: 50px !important;
  position: relative;
}

.followBackground {
  margin-top: 70px !important;
}

.follow {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  width: 31%;
}

.socials {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px !important;
  font-size: 25px;
  color: #7f0019;
}

.loginForm .socials {
  margin-top: 20px !important;
}

.socials svg:hover {
  color: #635dff;
}

.logoTall.inLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 650px) {
  .ticketForm {
    padding: 50px 25px;
    box-shadow: none;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }
  .socials {
    padding-bottom: 30px !important;
  }

  .loginForm .socials {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .loginForm {
    box-shadow: none;
    height: 100%;
    width: 100%;
    padding-top: 130px;
    /* justify-content: center; */
  }

  .followBackground {
    margin-top: 60px !important;
  }
}

@media screen and (max-height: 820px) and (max-width: 650px) {
  .ticketForm {
    height: calc(1100px - 20vh);
  }
}
