body {
  background: #fff;
}

#TechnoLogo {
  width: 20em;
  margin: auto;
  padding-top: 1.25em;
}

#startScanning {
  width: 20em;
  padding: 1.25em 0;
  color: #fff;
  background: #7f0019;
  border-radius: 100px;
  margin: auto;
  margin-top: 40px;
}

.scannerFrame {
  margin-top: 6.25em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-height: 25em;
}

.scannerFrame video {
  border-radius: 1.25em;
  box-shadow: 0 0 1em 0 #909090;
}

.fakeScanner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1.2;
  background: #ffffff;
  border-radius: 1.25em;
  box-shadow: 2px -4px 41px 0 #0000001f;
}

.currentStatus {
  bottom: 7.125em;
  color: #7f0019;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
